<div class="container-fluid">
	<div class="row">
		<div class="col s12 xl6 offset-xl3">
			<div class="card hoverable">
				<div class="card-image">
					<img src="assets/home_card_bg.jpg">
					<span class="card-title"><h5>Hello there, I'm Gautier !</h5></span>
				</div>
				<div class="card-content">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est, optio?<br><br>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium, quas aliquam ipsam neque commodi ad asperiores esse laborum recusandae corporis distinctio! Officia maxime corporis adipisci dolorum enim. Officia, optio suscipit.
				</div>
				<div class="card-action">
					Lorem ipsum dolor sit amet.
				</div>
			</div>
		</div>
	</div>
</div>
